*{
  margin: 0;
  padding: 0;
  position: relative;
}
html,body{
  max-width: 100%;
  overflow-x: hidden;
}
hr{
  border: 1px solid white;
  width: 260%;
}
.container{
  width: 1000px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

body{
    padding: 20px;
    text-align: center;
    font-size: x-large;
    background-color: rgb(38, 38, 56);;
    color:whitesmoke;
    scroll-behavior: smooth;
    padding-top: 0px;
  /*  background-image: url(https://i.pinimg.com/736x/f9/72/47/f9724751d33fc41220d3f85c85f8a98b.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

}
.companyof{
  display: flex;
  flex-direction: column;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',"Geneva", 'Verdana', 'sans-serif';
}
.companyof h3{
  color: white;
  border: 4px solid white;
  width: 700px;
  border-radius: 20px;

}
.heaher{
  display: flex;
  row-gap: 40px;
  flex-direction: row;
  height: 50px;
  

}
h1{
    
    color: white;
    border-color: blanchedalmond;
    z-index: -5;
    text-shadow: 2px 3px 5px blueviolet;
    text-decoration: solid underline violet;
    transition: 0.6s;
    scale: 1.2;

}
.conainer h1:hover{
transform: translateX(20px);
cursor: pointer;
}

nav h1{
  background-color: grey;
  letter-spacing: 2px;
  margin: 0 0 15px 0;
  border: 4px solid whitesmoke;
  border-radius: 300px;
  text-align: center;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.4s;
  border-radius: 10px;
  padding: 6px 10px;
  gap: 30px;
  transition: all 0.5s ease-in;
}
a:hover{
  color: aqua;
  text-shadow: 2px 1px 3px greenyellow;
}
.heading{
  background: transparent;
  font-size: xx-large;
  z-index: 15;
  color:blueviolet;
  border-radius: 20px;

}

.footer{
            padding: 50px 80px 30px;
            color: #666;
          align-items: center;

        }
        .footer-container p{

          font-size: small;
          margin-left: 250px;
          text-shadow: 2px 3px 4px lightblue;
          transition: 0.5s ease-in;
        }
        .footer-container p:hover{
          color: white;
          text-shadow: 2px 3px 4px rgb(12, 110, 143);
          transform: translateX(20px);
        }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* the images css*/

.melan{
  border: 7px solid greenyellow;
  max-width: 200px;
  margin-left: 400px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 12px solid #ffd700;
  box-shadow: 0 8px 30px rgba(200, 200, 200, 0.7);
  margin: 30px auto;

}
/* ELECTRONIC PAGE*/

.Electronic p{
  margin-top: 40px;
  font-weight: 500;
  

}

/* Electronics images*/


.phones{
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
  align-items: center;
  row-gap: 15px;
  margin-bottom: 20px;

  .firstgallery{
  margin-top: 50px;
  gap: 60px;
  }
}
.phones img{
  width: 250px;
  height: 200px;
  transition: 0.5s;
  border-radius: 20px;
}
.phones img:hover{
transform: translateX(10px);
box-shadow: 5px 6px 7px greenyellow;
cursor: pointer;
}




.thishead h3{

  margin: 40px 0px 50px 60px;
  color: rgb(98, 98, 218);
  border: none;
  transition: 0.3s;
  
}
.thishead h3:hover{
  color: white;
  transform: translateY(15px);

}

.background{
  background-color: white;

}

 .gallery{
  display: flex;
  flex-direction: row;
  max-width: 10px;
  max-height: 30px;
  gap: 30px;
  text-align: center;
  padding: 20px;
}

.visiion-mission{
border: 4px  greenyellow;
border-radius: 700px;
display: flex;
flex-direction: row;
text-align: center;

}


.table{
  padding: 70px;
  text-align: center;
  border: 5px #0a3d62;
  border-color: #0a3d62;
  border-style: groove;
  border-collapse: collapse;
}
th{
  padding: 40px;
  text-align: left;
}
th:hover{
background-color:  rgb(85, 84, 83);
color: whitesmoke;
}
table, th, td {
  border: 3px solid rgb(70, 110, 9);
  border-collapse: collapse;
}




